<fieldset>
  <h1 >Get In Touch</h1>
  <form>
    <div class="group">
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
    </div>
      <div class="group1">
        <input type="text" placeholder="Email" />
        <input type="number" placeholder="Phone" value="Phone" />
      </div>

      <div class="group2">
        <input type="text" placeholder="Address" />
      </div>

      <div class="group3">
        <input type="text" placeholder="Type your message here" />
      </div>

      <button type="submit" class="showMessage">Submit</button>
    </form>
 
 
</fieldset>
